
.section-title {
    padding-bottom: 40px !important;
}

.section-title h2 {
    font-size: 14px !important;
    font-weight: 500 !important;
    padding: 0;
    line-height: 1px !important;
    margin: 0 0 5px 0 !important;
    letter-spacing: 2px !important;
    text-transform: uppercase !important;
    color: #5c8eb0;
    font-family: "Poppins", sans-serif !important;
}

.section-title h2::after {
    content: "" !important;
    width: 120px !important;
    height: 1px !important;
    display: inline-block !important;
    background: #ff8664 !important;
    margin: 4px 10px !important;
}

.section-title p {
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #263d4d;
}
