
.section-title {
    padding-bottom: 40px !important;
}

.section-title h2 {
    font-size: 18px !important;
    font-weight: 700 !important;
    padding: 0;
    line-height: 1px !important;
    margin: 0 0 5px 0 !important;
    letter-spacing: 2px !important;
    text-transform: uppercase !important;
    color: #5c8eb0;
    font-family: "Poppins", sans-serif !important;
}

.section-title h2::after {
    content: "" !important;
    width: 120px !important;
    height: 1px !important;
    display: inline-block !important;
    background: #ff8664 !important;
    margin: 4px 10px !important;
}
.section-title p {
    margin: 0;
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #263d4d;
}

#hero {
    margin-top: 15rem;
    width: 100%;
    max-height: 60vh;
    /*background: url(../img/hero-bg.jpg) top center;*/
    background-size: cover;
    position: relative;
    padding: 0;
}

#hero:before {
    content: "";
    /*background: rgba(13, 20, 26, 0.7);*/
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}


#hero .hero-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

}

.my-modal .modal-dialog .modal-content .modal-header .close,
.my-modal .modal-dialog .modal-content .modal-footer .btn{
    display: none !important;
}
.clients {
    background: #f0f4f8;
    padding: 15px 0;
    text-align: center;
}

.clients img {
    max-width: 45%;
    transition: all 0.4s ease-in-out;
    display: inline-block;
    padding: 15px 0;
    /*filter: grayscale(100);*/
}

.clients img:hover {
    filter: none;
    transform: scale(1.15);
}

@media (max-width: 768px) {
    .clients img {
        max-width: 40%;
    }
}
